--- drivers/media/pci/Kconfig	2014-10-20 03:08:38.000000000 +0200
+++ drivers/media/pci/Kconfig	2014-10-24 14:34:48.754992526 +0200
@@ -32,6 +32,7 @@
 source "drivers/media/pci/bt8xx/Kconfig"
 source "drivers/media/pci/saa7134/Kconfig"
 source "drivers/media/pci/saa7164/Kconfig"
+source "drivers/media/pci/saa716x/Kconfig"
 
 endif
 
