--- drivers/media/dvb-frontends/Kconfig	2014-07-09 20:18:37.000000000 +0200
+++ drivers/media/dvb-frontends/Kconfig	2014-07-15 01:40:12.398260471 +0200
@@ -45,6 +45,13 @@
 comment "Multistandard (cable + terrestrial) frontends"
 	depends on DVB_CORE
 
+config DVB_SI2168
+	tristate "Silicon Labs Si2168"
+	depends on DVB_CORE && I2C && I2C_MUX
+	default m
+	help
+	  Say Y when you want to support this frontend.
+
 config DVB_DRXK
 	tristate "Micronas DRXK based"
 	depends on DVB_CORE && I2C

